@import '../variables';

.dashboard {
  @media screen and (min-width: 992px) {
    min-height: calc(100vh - 16.25rem);
  }

  &__user-avatar {
    position: relative;
  }

  &__user-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &__button {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &--active {
      color: #fff;
      background-color: $color-primary;
      text-decoration: none;
    }
  }

  a.nav-item.nav-link {
    color: $color-primary;
  }

  a.nav-item.nav-link.active {
    color: $color-muted;
  }
}
