@import '../variables';

.login {
  max-width: 100vw;
  height: calc(100vh - 22.6rem);

  @media screen and (min-width: 992px) {
    height: calc(100vh - 16.25rem);
  }

  display: grid;
  place-items: center;

  background-image: linear-gradient(135deg, $color-primary, $color-secondary);

  &__container {
    max-width: 22rem;
  }
}
