.navbar {
  background-color: #8c00b2;
  border-bottom: 0.2rem solid #f05656;

  a.dropdown-toggle.nav-link {
    color: #fff;
  }

  a.dropdown-toggle.nav-link:hover,
  a.dropdown-toggle.nav-link:active {
    color: #212529;
  }
}
